.list
    &--team

    .item

        &-summoner
            // border-width: 0px
            background: #F6F6F6
            &:nth-child(odd)  
                background: #FFF

            // border-width: 0px
            // border-bottom-width: 1px
            padding: 20px 16px 12px 16px

            &-name
                color: #000
                margin: 0 66px 0 36px

            &-avatar
                position: absolute
                left: 16px
                top: 16px
                width: 26px
                height: 26px

            &-spell
                position: absolute
                top: 16px
                right: 16px
                width: 26px
                height: 26px
                border-radius: 6px

                &:nth-of-type(2)
                    right: 50px

                // &:nth-of-type(2)
                //     right: 84px

            &-stats
                margin: 16px 0 0 0
                padding: 12px 0 0
                border-top: 1px #DDD solid
                font-size: 14px
                display: -webkit-box
                display: -webkit-flex
                display: flex
                -webkit-box-pack: justify
                justify-content: space-between
                -webkit-justify-content: space-between
                color: #777

                &-serie
                    padding: 0 2px
                // div:first-child
                //     width: 50%
        
        &-divider
            margin-top: 20px
            background: #FFF
            border-top-width: 0px
            border-bottom-width: 3px
            text-transform: capitalize

        &--blue
            color: #2693FF
            border-bottom-color: #2693FF

        &--purple
            color: #AD4B8D
            border-bottom-color: #AD4B8D