.bar
    &-pink
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6)
        background-color: #EB4B50
        border-color: #EB4B50
        color: #FFF
        .title
            font-weight: 300
            color: inherit

    &-search
        background-color: #666666
        color: #FFF
        padding-right: 130px

        .title
            font-weight: 300
            color: inherit

        &__summoner
            width: 100%
            background: transparent
            margin: auto 10px
            height: 30px !important
            color: #FFF !important
            border-bottom: 1px #999 solid !important

        &__server
            position: absolute
            right: 46px
            top: 5px
            -webkit-appearance: none;
            background: transparent
            border: 0px
            color: inherit
            padding: 3px 8px !important
            font-size: 18px !important

        .button
            position: absolute
            right: 6px
            top: 5px
            color: #FFF
            font-size: 22px !important
            margin: auto 10px