<ion-view class="home">

    <ion-header-bar  class="bar bar-subheader bar-search">
        <input ng-model="data.summonerName" class="bar-search__summoner" type="text" placeholder="Summoner name" >
        <div ng-click="getMatch()" class="button ion-ios-search-strong button-clear"></div>
        <select ng-model="data.server" class="bar-search__server">
            <option value="na">NA</option>
            <option value="lan">LAN</option>
            <option value="las">LAS</option>
            <option value="br">BR</option>
            <option value="eune">EUN</option>
            <option value="euw">EUW</option>
            <option value="kr">KR</option>
            <option value="oce">OCE</option>
            <option value="tr">TR</option>
            <option value="RU">RU</option>
            <option value="tr">TR</option>
            <option value="tr">TR</option>
        </select>
    </ion-header-bar>

    <ion-nav-title>
        Nexusfall - Match info
    </ion-nav-title>

    <ion-content>

        <div class="list list--team">

            <ion-spinner ng-show="data.state == 1" class="spinner-energized" icon="android"></ion-spinner>
            <div ng-show="data.state == 3" class="is-center padding">{{data.error}}</div>
            <div ng-show="data.state == 0" class="is-center padding">Enter a summoner name and select a region</div>
            <div ng-show="data.state == 2" ng-repeat="(team, players) in teams">
                <div class="item item-divider item--{{team}}">{{team}} team</div>
                <div class="item item-summoner" ng-repeat="player in players">
                    <img class="item-summoner-avatar" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{player.champion.image}}">
                    <div class="item-summoner-name item-content">{{player.summoner.name}}</div>
                    <img ng-repeat="spell in player.spells" class="item-summoner-spell" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/spell/{{spell.image}}">
                    <div class="item-summoner-stats">
                        <div>{{player.summoner.ranked.tier}} {{player.summoner.ranked.division}} 
                            <span ng-hide="player.summoner.ranked.serie">({{player.summoner.ranked.points}} LP)</span>
                            <span ng-show="player.summoner.ranked.serie">
                                <i ng-repeat="serie in player.summoner.ranked.serie track by $index" class="item-summoner-stats-serie" ng-class="{'ion-ios-circle-outline': serie == 'N', 'ion-ios-checkmark balanced': serie == 'W', 'ion-ios-close assertive': serie == 'L'} "></i>
                            </span>
                        </div>
                        <!-- <div>W10 - L8</div> -->
                        <!-- <div>KDA 3.89</div> -->
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
