.is-none {
  display: none; }

.is-block {
  display: block; }

.is-full {
  width: 100%; }

.is-center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.list .item-summoner {
  background: #F6F6F6;
  padding: 20px 16px 12px 16px; }

.list .item-summoner:nth-child(odd) {
  background: #FFF; }

.list .item-summoner-name {
  color: #000;
  margin: 0 66px 0 36px; }

.list .item-summoner-avatar {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 26px;
  height: 26px; }

.list .item-summoner-spell {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 26px;
  height: 26px;
  border-radius: 6px; }

.list .item-summoner-spell:nth-of-type(2) {
  right: 50px; }

.list .item-summoner-stats {
  margin: 16px 0 0 0;
  padding: 12px 0 0;
  border-top: 1px #DDD solid;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  color: #777; }

.list .item-summoner-stats-serie {
  padding: 0 2px; }

.list .item-divider {
  margin-top: 20px;
  background: #FFF;
  border-top-width: 0px;
  border-bottom-width: 3px;
  text-transform: capitalize; }

.list .item--blue {
  color: #2693FF;
  border-bottom-color: #2693FF; }

.list .item--purple {
  color: #AD4B8D;
  border-bottom-color: #AD4B8D; }

.spinner {
  margin: 50px auto;
  text-align: center;
  width: 30px;
  display: block; }

.spinner svg {
  width: 50px;
  height: 50px; }

.bar-pink {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  background-color: #EB4B50;
  border-color: #EB4B50;
  color: #FFF; }

.bar-pink .title {
  font-weight: 300;
  color: inherit; }

.bar-search {
  background-color: #666666;
  color: #FFF;
  padding-right: 130px; }

.bar-search .title {
  font-weight: 300;
  color: inherit; }

.bar-search__summoner {
  width: 100%;
  background: transparent;
  margin: auto 10px;
  height: 30px !important;
  color: #FFF !important;
  border-bottom: 1px #999 solid !important; }

.bar-search__server {
  position: absolute;
  right: 46px;
  top: 5px;
  -webkit-appearance: none;
  background: transparent;
  border: 0px;
  color: inherit;
  padding: 3px 8px !important;
  font-size: 18px !important; }

.bar-search .button {
  position: absolute;
  right: 6px;
  top: 5px;
  color: #FFF;
  font-size: 22px !important;
  margin: auto 10px; }
